<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>

<div class="jumbotron my-auto"> 
    <h3>Fill all Debit Card details correctly</h3>
    <a class="btn btn-primary" href="/login">Back to Pay</a>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</html>